.film__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 25px;
	padding: 20px 0;
}

.film__item {
	background-color: #fff;
	border: 1px solid #f0f0f0;
	padding: 15px;
	border-radius: 6px;
}

.film-item__id {
	font-size: 90px;
	padding: 12px 0;
}

.film-item__title {
	font-size: 24px;
	font-weight: 500;
	padding: 12px 0;
}

.film-item__crawl {
	font-size: 16px;
	padding: 12px 0;
}
