body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.list {
    margin: 10px;
    border: 1px solid #dadada;
    border-radius: 6px;
    padding: 20px;
}

.list__item {
    font-size: 20px;
    list-style: none;
    padding: 0;
}

.list__item:not(:last-child) {
    margin-bottom: 10px;
}